<ng-template #reviewModal let-modal>

    <div class="modal-header">

        <h4 class="modal-title" id="review-modal-title">Review</h4>

        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>

    <div class="modal-body">

        <form>

            <div class="form-group">

                <label for="review-text">Text:</label>

                <div class="input-group">
                    <textarea #reviewText class="form-control" id="review-text" placeholder="Review text..."></textarea>
                </div>

                <div class="input-group">
                    <label for="review-score">Score:</label>
                    <input #reviewScore type="number" class="form-control" id="review-score" value="0" min="0"
                        max="10" />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark"
            (click)="modal.close({text: reviewText.value, score: reviewScore.value})">Submit</button>
    </div>
</ng-template>

<div class=container>
    <div *ngIf="student">
        <h3>Welcome, {{ student.firstName }} {{ student.lastName }}!</h3>

        <ngb-alert [dismissable]="false" *ngIf="!student.creditRequirmentsMet">
            Credit requirements not met
        </ngb-alert>

        <ngb-alert [type]="success" [dismissable]="false" *ngIf="student.creditRequirmentsMet">
            Credit requirements not met
        </ngb-alert>
    </div>

    <h4 *ngIf="term">
        Term: {{ term | titlecase }}
    </h4>

    <h4 *ngIf="enrollments && enrollments.length > 0">Enrollments:</h4>

    <div *ngFor="let enrollment of enrollments" class="card">
        <div class="card-body row">
            <label class="col">{{ enrollment.sect.course.courseName }}</label>
            <label class="col">{{ enrollment.sect.course.credits }}</label>
            <label class="col">{{ enrollment.sect.course.fees | currency }}</label>
            <label class="col">{{ enrollment.sect.term }}</label> <button class="btn btn-info col"
                (click)="openModal(reviewModal)">Review</button>
            <button class="btn btn-danger col">Delete</button>
        </div>
    </div>

    <h4 *ngIf="!enrollments || enrollments.length == 0">No enrollments</h4>

    <h4 *ngIf="credits > 0">
        Total Credits: {{ credits }}
    </h4>

    <h4 *ngIf="amount > 0">
        Total Amount Owed: {{ amount | currency }}
    </h4>

    <h4 *ngIf="discount > 0">
        {{ student.residentId }} Discount: {{ discount | currency }}
    </h4>
</div>