<div style="text-align: center">
    <h1>
        Student Details
    </h1>
</div>

<div>
    <button *ngIf="!isAuthenticated" (click)="login()"> login </button>
    <button *ngIf="isAuthenticated" (click)="logout()"> logout </button>

    <div>
        <table *ngIf="isAuthenticated" id="details">
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>resident type</th>
                <th>Department ID</th>

            </tr>
            <tr>
                <td>{{localStorage['student'].firstName}}</td>
                <td>{{localStorage['student'].lastName}}</td>
                <td>{{localStorage['student'].residentId}}</td>
                <td>{{localStorage['student'].deptId}}</td>

            </tr>
        </table>

        <p *ngIf="!isAuthenticated">Not logged in</p>

    </div>

    <div *ngIf="isAuthenticated">
        <button (click)="getCourses()">Get registered courses </button>

        <ul>
            <li *ngFor="let enrollment of enrollments">
                {{enrollment.section.course.courseName}}
            </li>
            <li *ngIf="!enrollments || enrollments.length == 0">
                No registered courses for {{details.name}}
            </li>
        </ul>

    </div>

    <div *ngIf="isAuthenticated">
        Enter semester : <input [(ngModel)]='semester'>
        <button (click)="getTotalCredits()">Credits for the selected semester</button>
        {{totalCredits}}

        <button (click)="getAmount()">Total amount of registered courses</button>
        {{amount | currency}}
    </div>

    <div *ngIf="isAuthenticated">
        <button (click)="getDiscount()">Discount</button>
        {{discount | currency}}
    </div>

</div>

<div *ngIf="isAuthenticated">
    <button (click)="getFinalAmount()">Final Amount after discounts</button>
    {{finalAmount | currency}}
</div>