<div *ngIf="student !== undefined">
    <div>
        <table id="details">
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Resident type</th>
                <th>Department ID</th>

            </tr>
            <tr>
                <td>{{student.firstName}}</td>
                <td>{{student.lastName}}</td>
                <td>{{student.residentId}}</td>
                <td>{{student.deptId}}</td>

            </tr>
        </table>

    </div>

    <div>
        <ul>
            <li *ngFor="let course of courses">
                {{course.courseName}} <a href="#">review</a>
            </li>
            <li *ngIf="!courses || courses.length == 0">
                No registered courses for {{student.firstName + " " + student.lastName}}
            </li>
        </ul>

    </div>

    <div>
        Discount: {{discount | currency}}
    </div>

    <div>
        Enter semester: <input [(ngModel)]='semester'>
        <button (click)="getTotalCredits()">Credits for the selected semester</button>
        {{totalCredits}}

        <button (click)="getAmount()">Total amount of registered courses</button>
        {{amount | currency}}

        <button (click)="getFinalAmount()">Final Amount after discounts</button>
        {{finalAmount | currency}}
    </div>

</div>