
<div>
  <button type="button" (click)="loadAllCourses()">Load the Courses Available</button>
    <ul *ngFor="let item of theCourses">
      <li>{{item.courseName}}</li>
    </ul>
    <button (click)="goBack()">go back</button>
</div>




  <!-- <div *ngIf="loadAllCourses()">
  <ul *ngFor="let item of theCourses">
    <li>{{item.courseName}}</li>
  </ul>
</div> -->

<!-- <ul *ngFor="let item of theCourses">
  <li>{{item.courseName}}</li>
</ul> -->



 












<!-- <div>
  <a *ngFor="let item of theCourses" routerLink="/detail/{{item.courseId}}">
    <div>
      <h4>{{item.courseName}}</h4>
    </div>
  </a>
</div> -->

<!--  
<div *ngIf="!fridgeItems && !error">
  (loading...)
</div> -->
<!-- <div *ngIf="fridgeItems && !error"> -->
  <!-- <div *ngIf="theCourses.length === 0">
    (empty)
  </div> -->
  <!-- <ul *ngIf="theCourses"> -->
    <!-- ngFor structural directive has a special syntax of its own -->
    <!-- <li *ngFor="let item of theCourses">
      {{ item.courseId }}
    </li>
  </ul> -->

  <!-- <ul> -->
    <!-- ngFor structural directive has a special syntax of its own -->
    <!-- <li *ngFor="let item of theCourses">
      {{ item.courseName }}
    </li>
  </ul>  -->
