<!-- <app-course></app-course> -->



<!-- <nav>
    <a routerLink="/course">All Courses</a>

</nav> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" routerLink="/course">Course Information</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
      <span class="navbar-toggler-icon"></span>
    
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" routerLink="/course">Course Info</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav> -->

<h1>{{title}}</h1>
<app-student></app-student>
<router-outlet></router-outlet>
