<div class="container">

  <div id="search-component">

    <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">

      <label for="search-box-1">Name: </label>

      <input type="text" class="form-control" id="search-box-1" #searchBox1 placeholder="Course Name" />
      <i class="fas fa-search" aria-hidden="true" (click)="searchByName(searchBox1.value)"></i>

    </form>

    <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">

      <label for="search-box-2">Instructor: </label>

      <input type="text" class="form-control" id="search-box-2" #searchBox2 placeholder="Instructor Name" />
      <i class="fas fa-search" aria-hidden="true" (click)="searchByInstructor(searchBox2.value)"></i>

    </form>

    <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">

      <label for="search-box-3">ID: </label>

      <input type="number" min="100" step="10" class="form-control" id="search-box-3" #searchBox3
        placeholder="Course ID" />
      <i class="fas fa-search" aria-hidden="true" (click)="searchByCourseId(searchBox3.value)"></i>

    </form>

  </div>

  <h4 *ngIf="sections && sections.length > 0">Courses found:</h4>

  <div *ngFor="let section of sections" class="card">

    <div class="card-body">

      {{section.course.courseName}} {{section.course.credits}} {{section.term}} <button
        (click)="viewReviews = !viewReviews">{{ viewReviews ? 'Hide' : 'View Reviews' }}</button>

      <ul *ngIf="viewReviews" class="list-group list-group-flush">
        <li *ngFor="let review of section.course.reviews" class=" list-group-item">{{review.text}}</li>
      </ul>

    </div>

  </div>

</div>