<div class="container">

  <h3>Search and Enroll</h3>

  <div id="search-component">

    <form class="form-inline d-flex justify-content-center md-form form-sm mt-0 row">

      <label class="col-3" for="search-box-1">Name: </label>

      <input class="col-3" type="text" class="form-control" id="search-box-1" #searchBox1 placeholder="Course Name" />
      <button class="col-3 btn btn-outline-primary" (click)="searchByName(searchBox1.value)">Search</button>

    </form>

    <form class="form-inline d-flex justify-content-center md-form form-sm mt-0 row">

      <label class="col-3" for="search-box-2">Instructor: </label>

      <input class="col-3" type="text" class="form-control" id="search-box-2" #searchBox2
        placeholder="Instructor Name" />
      <button class="col-3 btn btn-outline-primary" (click)="searchByInstructor(searchBox2.value)">Search</button>

    </form>

    <form class="form-inline d-flex justify-content-center md-form form-sm mt-0 row">

      <label class="col-3" for="search-box-3">ID: </label>

      <input class="col-3" type="number" min="100" step="10" class="form-control" id="search-box-3" #searchBox3
        placeholder="Course ID" />
      <button class="col-3 btn btn-outline-primary" (click)="searchByCourseId(searchBox3.value)">Search</button>

    </form>

  </div>

  <h4 *ngIf="sections && sections.length > 0">Courses found:</h4>

  <div *ngFor="let section of sections" class="card">

    <div class="card-body row">

      <label class="col">{{ section.course.courseName }}</label>
      <label class="col">{{ section.course.credits }}</label>
      <label class="col">{{ section.term }}</label>

      <button class="col btn btn-info"
        (click)="viewReviews = !viewReviews">{{ viewReviews ? 'Hide' : 'View Reviews' }}</button>

      <button *ngIf="!viewReviews" class="col btn btn-success"
        (click)="enrollInCourse(section.courseId)">Enroll</button>

    </div>

    <label *ngIf="viewReviews" for="reviews">Reviews:</label>

    <div>

      <ul *ngIf="viewReviews" class="list-group list-group-flush">
        <li *ngFor="let review of section.course.reviews" class=" list-group-item">{{review.text}}</li>
      </ul>

    </div>

  </div>

</div>